@model List<Student>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<img src="~/Images/bird.webp" asp-append-version="true" height="200" width="300" alt="New Image"/>


    <table class="container table-striped table-bordered  border-dark mt-4">
        <tr class="bg-success ">
            <td>ID</td>
            <td>Name</td>
            <td>Gender</td>
        </tr>
    @foreach (var item in Model)
    {

        <tr class="bg-primary text-white">
            <td >@item.Id</td>
            <td >@item.Name</td>
            <td >@item.Gender</td>
            </tr>
       
    }
    </table>

<a href="/Home/Contacts">Contact Page1</a>
<br/>
@Html.ActionLink("Contact Page 2","Contacts")

<br/>
<a href="@Url.Action("Contacts","Home")"> Contact Page 3</a>
<br />

<a asp-asp-controller="Home" asp-action="Contacts"> Contact Page 4</a>